<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.shaunsweet.pi"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Home Console</name>

  <description>
      A command center for my home.
  </description>

  <author href="https://shaunsweet.com" email="shaun@shaunsweet.com">
      Shaun Sweet
  </author>
  <icon src="icon-60@3x.png" platform="ios" width="180" height="180" />
  <!-- iPhone / iPod Touch  -->
  <icon src="icon-60.png" platform="ios" width="60" height="60" />
  <icon src="icon-60@2x.png" platform="ios" width="120" height="120" />
  <!-- Spotlight Icon -->
  <icon src="icon-40.png" platform="ios" width="40" height="40" />
  <icon src="icon-40@2x.png" platform="ios" width="80" height="80" />
  <icon src="icon-40@3x.png" platform="ios" width="120" height="120" />
  <splash src="splash.gif" />
</widget>
